In [1]:
import module

In [2]:
dataloader = module.DataLoader.init_dataloader("testcases/test_update_00.yaml", {"ctry_name": "Vietnam", "city_name": "Hanoi"})

print(dataloader.generate_main_script())

MERGE INTO adw.f_booking AS TGT
USING (SELECT * FROM (slide.f_booking_stg)) AS SRC
ON date > current_date() - 7 AND TGT.booking_id = SRC.booking_id AND TGT.date = SRC.date
WHEN MATCHED THEN
	UPDATE SET TGT.fare = SRC.fare , TGT.passenger_id = SRC.passenger_id , TGT.country_id = SRC.country_id